<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProdutoEstoquesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ProductsServiceLibrary/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProdutoEstoquesService"
                contract="ProdutoEstoquesService.IProdutoEstoquesService"
                name="BasicHttpBinding_IProdutoEstoquesService" />
            <endpoint address="http://localhost:8010/ProdutoEstoquesService/Service.svc"
                binding="ws2007HttpBinding" bindingConfiguration="" contract="ProdutoEstoquesClient.ProdutoEstoquesServiceV2.IProdutoEstoquesServiceV2"
                name="WS2007HttpBinding_IProdutoEstoquesService" />
        </client>
    </system.serviceModel>
</configuration>