<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="ProvedorEstoque" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=EstoqueEntityModel.ProvedorEstoque;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<services>
   <service name="ProdutoEstoques.ProdutoEstoquesService">
    <clear />
    <endpoint address="http://localhost:8000/ProdutoEstoquesService/Service.svc"
     binding="basicHttpBinding" name="BasicHttpBinding_IProdutoEstoquesService"
     contract="ProdutoEstoques.IProdutoEstoquesService" listenUriMode="Explicit" />
    <endpoint address="http://localhost:8010/ProdutoEstoquesService/Service.svc"
     binding="ws2007HttpBinding" bindingConfiguration="" name="WS2007HttpBinding_IProdutoEstoquesService"
     contract="ProdutoEstoques.IProdutoEstoquesServiceV2" />
   </service>
  </services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Para evitar a divulgação de informações de metadados, defina os valores abaixo para falso antes da implantação -->
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
					<!-- Para receber os detalhes de exceção de falhas para fins de depuração, defina o valor abaixo como true. Defina como false antes da implantação para evitar a divulgação de informações de exceção -->
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
</configuration>